Repository JGynther/fuzzy: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: add tsconfig
  src/tsconfig.json
Due: prettier --write

fix: add baseUrl to tsconfig
  src/tsconfig.json
Due: prettier --write

feat: add hearthstone card data as an example data set
  .gitignore
  data/cards.json
Due: prettier --write

feat: add .editorconfig
  .editorconfig
  .gitignore
Due: none

feat: change to pnpm
  .eslintrc.yml
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: prettier --write

feat: add Jaro similarity implementation
  .eslintrc.yml
  package.json
  src/statistics/jaroSimilarity.ts
Due: prettier --write, eslint --fix

fix: add export
  src/statistics/jaroSimilarity.ts
Due: prettier --write, eslint --fix

fix: fixed tsconfig include path
  src/tsconfig.json
Due: prettier --write

feat: add Jaro-Winkler implementation, improve some naming
  src/statistics/jaroSimilarity.ts
  src/statistics/jaroWinkler.ts
Due: prettier --write, eslint --fix

feat: add Monge-Elkan implementation
  src/statistics/mongeElkan.ts
Due: prettier --write, eslint --fix

fix: move tsconfig to top level
  tsconfig.json
Due: prettier --write

feat: implement basic scorer
  src/index.ts
  src/scorer.ts
  tsconfig.json
Due: prettier --write, eslint --fix

feat: add basic main method
  src/index.ts
  tsconfig.json
Due: prettier --write, eslint --fix

chore: improve imports
  src/statistics/jaroWinkler.ts
  src/statistics/mongeElkan.ts
Due: prettier --write, eslint --fix

fix: move husky scripts to pnpm
  .husky/commit-msg
  .husky/pre-commit
Due: none

fix: improve similarity function typing
  src/scorer.ts
  src/statistics/mongeElkan.ts
Due: prettier --write, eslint --fix

fix: remove unused eslint rule disable
  src/statistics/mongeElkan.ts
Due: prettier --write, eslint --fix

feat: add workspaces
  packages/fuzzy/package.json
  packages/fuzzy/src/index.ts
  packages/fuzzy/src/scorer.ts
  packages/fuzzy/src/statistics/jaroSimilarity.ts
  packages/fuzzy/src/statistics/jaroWinkler.ts
  packages/fuzzy/src/statistics/mongeElkan.ts
  packages/fuzzy/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

feat: make fuzzy/core a proper package
  packages/fuzzy/package.json
  packages/fuzzy/src/scorer.ts
  packages/fuzzy/tsconfig.json
Due: prettier --write, eslint --fix

fix: improve jsons
  packages/fuzzy/package.json
  packages/fuzzy/tsconfig.json
Due: prettier --write

feat: add skeleton tui
  .eslintrc.yml
  .gitignore
  packages/tui/cli.ts
  packages/tui/index.ts
  packages/tui/package.json
  packages/tui/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: move data to tui
  packages/tui/data/cards.json
Due: prettier --write

fix: removed data import from package
  packages/fuzzy/tsconfig.json
Due: prettier --write

fix: add new replaceAll function to fix compliation errors
  packages/fuzzy/package.json
  packages/fuzzy/src/index.ts
  packages/fuzzy/src/scorer.ts
  packages/fuzzy/tsconfig.json
Due: prettier --write, eslint --fix

fix: change arr -> data for clarity
  packages/fuzzy/src/scorer.ts
Due: prettier --write, eslint --fix

fix: add case normalization to tokenization
  packages/fuzzy/src/index.ts
  packages/fuzzy/src/scorer.ts
Due: prettier --write, eslint --fix

feat: add very basic tui for demoing
  package.json
  packages/tui/cli.ts
  packages/tui/index.ts
  packages/tui/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,md})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
